Esercizio5.dtd

<!--Author:Lorenzo Tafi-->
<!--Matricola:501833-->
<!ELEMENT TEI (header, facsimile?, text+)>
<!--Elemento root che ha come figli header(una sola volta obbligatoria),facsimile(0 o 1 volta), text(1 o infiniti figli)-->
<!ELEMENT header (#PCDATA)>
<!--Elemento header cha ha content model testuale-->
<!ELEMENT facsimile (#PCDATA)>
<!--Elemento facsimile cha ha content model testuale-->
<!ELEMENT text (#PCDATA)>
<!--Elemento text cha ha content model testuale-->
